# Entorno virtual
venv/
.venv/

# Archivos de Jupyter
.ipynb_checkpoints/

# Archivos temporales
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de configuración local
*.env
.DS_Store
*.log

# Salidas de Jupyter
*.out
